<?xml version="1.0"?>
<manifest package="org.pokerth.widget" xmlns:android="http://schemas.android.com/apk/res/android" 
          android:versionName="2.0" android:versionCode="20" android:installLocation="auto">
    
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="35"/>
    
    <supports-screens android:largeScreens="true" 
                      android:normalScreens="true" 
                      android:anyDensity="true" 
                      android:smallScreens="true"/>
    
    <application android:hardwareAccelerated="true" 
                 android:name="org.qtproject.qt.android.bindings.QtApplication" 
                 android:label="PokerTH"
                 android:icon="@drawable/ic_launcher"
                 android:extractNativeLibs="true"
                 android:usesCleartextTraffic="true"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        
        <activity android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density" 
                  android:name="org.qtproject.qt.android.bindings.QtActivity" 
                  android:label="PokerTH" 
                  android:screenOrientation="landscape" 
                  android:launchMode="singleTop"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="true">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- WICHTIG: Verwende pokerth_client als lib_name -->
            <meta-data android:name="android.app.lib_name" android:value="pokerth_client"/>
            <meta-data android:name="android.app.extract_android_style" android:value="minimal"/>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
</manifest>