[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PokerTH
Name[tr]=PokerTH
Exec=pokerth
Icon=pokerth
GenericName=Poker Card Game
GenericName[tr]=Poker Kart Oyunu
Comment=Texas hold'em game
Comment[tr]=Texas hold'em oyunu
Terminal=false
Type=Application
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;CardGame;
